@media only screen and (max-width: 1024px) {
    body { overflow-x: hidden; }
    .nav-brand { box-shadow: none; }
    .aboutMe { padding-top: 30px; }
    .aboutMe .aboutMeTitle { margin-left: 30px; }
    .aboutMe .aboutMeInfo { margin-left: 30px; }
    .expEdu .infoBox { width: 90%; }
    .portfolio .card { height: 320px; }     
    .portfolio .card .cardOverlay .appLink label { font-size: 15px; margin: 5px 10px 15px; }   
    .portfolio .card .cardOverlay a {
        padding: 0px 2px 0px 22px;
        font-size: 14px;
    }
    .portfolio .card .cardOverlay a:before { font-size: 19px; top: -5px; left: 4px; }
    .portfolio .card .cardOverlay .web:before { top: 0px; font-size: 14px; }
    .portfolio .card .cardOverlay .ios:before { left: 6px; }
    .getInTouch { background-size: contain; }
    .getInTouch .contactForm form .form-group input,
    .getInTouch .contactForm form .form-group textarea { 
        width: 95%; 
    }
    .getInTouch .contactForm .contactInfo .email { margin-top: 15px; }
    .getInTouch .contactForm form .email { width: 100%; }
    .getInTouch .contactForm form .password { width: 100%; margin-left: 0px; }
}

@media only screen and (max-width: 768px) {
    .landingSec .container { margin: 0px; max-width: initial; }
    .navbar-nav { margin-left: 0px !important; }
    .navbar-expand-sm .navbar-nav .nav-link { padding: 6px 17px; font-size: 14px; }
    .title h2 strong { font-weight: 500; font-size: 25px; }
    .title h2::after { top: 23px; }
    .aboutMe { text-align: center; }
    .aboutMe .row { display: block; }
    .aboutMe .aboutMeTitle { margin: 0px 8%; }
    .aboutMe .aboutMeTitle:before { display: none; }
    .aboutMeImg { 
        margin: 30px auto 0px; 
        text-align: center;
    }
    .aboutMeImg dt { 
        top: 0px; 
        right: 195px; 
        
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    .aboutMe .aboutMeInfo { 
        padding: 30px 50px 0px; 
        margin: 0px;
        float: left;
        max-width: 100%; 
    }
    .expEdu .ico { left: -15px; }
    .expEdu .infoBox { 
        width: 60%; 
        min-height: 270px;
        padding: 15px 20px 30px 70px; 
    }
    .expEdu .education { padding-top: 45px; }
    .services .title p { margin: 0px 10%; }
    .skillsInfo .prgLabel { width: 90%; }
    .skillsInfo .prgLabel:nth-child(odd) { margin-right: 0px; }
    .portfolio { margin-top: 40px; }
    .nav-tabs .nav-link { font-size: 15px; }
    .nav-tabs .active:after { bottom: -13px; }
    .portfolio .card { height: 420px; margin: 0px 10px; }
    .portfolio .owl-nav button span { 
        height: 24px;
        width: 24px;
        font-size: 24px;
        line-height: 22px;
    }
    .portfolio .owl-nav button { top: -250px; }
    .portfolio .owl-theme .owl-dots { margin-top: 20px; }
    .getInTouch { background-size: cover; background-position: center; }
    .getInTouch .contactForm { width: 85%; }
    .getInTouch .contactForm h4 { font-size: 18px; }
    .getInTouch .contactForm h4 strong { padding-top: 7px; }
    .getInTouch .contactForm ul li a { font-size: 16px; }
    .getInTouch .contactForm .contactInfo .email { margin: 0px; }
}

@media only screen and (max-width:767px) {
    .header { 
        padding: 0px; 
        background: none; 
        
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .landingSec {
        height: 550px;
        background-size: 150%;
        background-position: -80px 70px;
    }
    .landingSec .container { padding: 0px; }
    .navbar:before {
        content: " ";
        position: fixed;
        top: 0px;
        left: 0px;
        display: block;
        height: 65px;
        width: 100%;
        background: #fff;
        z-index: -1;

        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }
    .navbar-toggler-icon:before {
        content: "\f0c9";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        background: #44bdbd;
        color: #fff;
        padding: 5px;
    }
    button:focus { outline: none; }
    .navbar-toggler {
        margin-top: 10px;
    }
    .navbar-collapse { margin-top: -3px; }
    .navbar-nav { 
        background: #fff; 
        height: 100vh;
        width: 70%;
        padding: 0px;
        
        -moz-border-radius: 0px 0px 5px 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        border-radius: 0px 0px 5px 5px;

        -moz-box-shadow: 0px 6px 8px 0px #1330345e;
        -webkit-box-shadow: 0px 6px 8px 0px #1330345e;
        box-shadow: 0px 6px 8px 0px #1330345e;
    }
    .navbar-expand-sm .navbar-nav .nav-link { 
        color: #212121; 
        border-bottom: 1px solid #e3e3e3;
        padding: 15px 20px;
    }
    .navbar-expand-sm .navbar-nav .inquiry { 
        padding: 20px; 
        text-align: center; 
    }
    .navbar-expand-sm .navbar-nav .inquiry a {
        color: #fff;
        display: inline-block;
        padding: 10px 35px;
    }
    .landingSec .aboutKishor { bottom: 35px; }
    .aboutMe { margin: 0px; }
    .aboutMe .aboutMeTitle,
    .aboutMe .aboutMeImg,
    .aboutMe .aboutMeInfo,
    .getInTouch .contactForm { 
        opacity: 1;

        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .aboutMeImg { margin: 17px auto 0px; }
    .aboutMeImg span {
        height: 250px;
        width: 250px;
        line-height: 250px;
    }
    .aboutMeImg dt {
        height: 250px;
        width: 250px;
        top: 0px;
        right: 55px;
    }
    .aboutMe .aboutMeInfo { padding: 20px 20px 0px; }
    .aboutMe .aboutMeInfo p { font-size: 15px; line-height: 23px; }
    .services { padding: 30px 10px 40px; }
    .services .serviceContainer { padding: 15px 10px; }
    .skillsInfo .prgLabel { margin: 16px 0px; }
    .nav-tabs .active::after { bottom: -12px; }
    .portfolio .portfolioTabs { padding: 0px 20px; }
    .portfolio .portfolioTabs { margin: 20px 0px 15px; }
    .portfolio .card { 
        height: 330px; 
        margin: 0px auto; 
        width: 70%;
    }
    .portfolio .owl-nav .owl-prev { left: 20px; }
    .portfolio .owl-nav .owl-next { right: 18px; }
    .expEdu .infoBox {
        width: 100%;
        min-height: initial;
    }
    
    .workProcess { height: auto; padding: 60px 5px; margin: 0px; }
    .workProcess .processFlow ul li { margin-bottom: 30px; }
    .workProcess .processFlow ul li label { padding-top: 0px; }
    .workProcess .processFlow ul li .badge { margin: 0px auto; }
    .workProcess .processFlow ul li .processImg {
        height: 75px;
        width: 75px;
        line-height: 75px;
    }
    .workProcess .processFlow ul li .badge { margin: 15px auto; }
    .workProcess .processFlow ul li::after { width: 97%; bottom: 45px; }
    .getInTouch { text-align: center; height: auto; margin: 0px; }
    .getInTouch .contactForm { width: auto; }
    .getInTouch .contactForm h4 {font-size: 16px; }
    .getInTouch .contactInfo ul { display: block; }
    .getInTouch .contactInfo ul li {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
    .getInTouch .contactInfo ul li:last-child { margin-bottom: 0px; }
    .getInTouch .contactForm ul li a, .getInTouch .contactForm ul li p {
        display: block;
        text-align: left;
        padding-left: 30px;
    }
    .getInTouch .contactForm ul li a::before, 
    .getInTouch .contactForm ul li p::before {
        height: 24px;
        width: 24px;
        line-height: 24px; 
    }
}   
